@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

.container {
  max-width: 80em;
  margin: 0 auto;
}

header {
  background: linear-gradient(to bottom, #5e1dec, #0298d5);
  padding: 2em 0;
  margin-bottom: 3em;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  font-weight: 700;
  color: white;
  font-family: 'Hind', sans-serif;
  margin: 0;
}

@media only screen and (max-width: 50em) {
  h1 {
    font-size: 7vw;
  }
}

main {
  display: flex;
  padding: 0 1em;
}

@media only screen and (max-width: 40em) {
  main {
    flex-direction: column-reverse;
  }
}

aside {
  width: 15em;
}

@media only screen and (max-width: 40em) {
  aside {
    width: 100%;
    margin-bottom: 2em;
  }
}

.characters,
.character-meta {
  list-style: none;
  padding: 10px;
}

.character {
  display: flex;
  margin-bottom: 1em;
}

.character-thumb {
  width: 4em;
  height: 4em;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: .4em;
  margin-right: .6em;
}

.character-meta li {
  margin-bottom: .2em;
}

.character-meta li:last-child {
  margin-bottom: 0;
}

.search label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  margin-bottom: .2em;
}

.search input {
  width: 100%;
  font-size: 1em;
  background: none;
  padding: .8em 1em;
  border: solid 3px #5F4B8B;
  outline: none;
  border-radius: .4em;
}

.search input:focus {
  border: solid 3px #5e1dec;
  box-shadow: 0 0 6px #5e1dec;
}

footer {
  color: white;
  text-align: center;
  background-color: #5e1dec;
  padding: 1em 0;
  margin-top: 2em;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

table {
  width: 30%;
}

th {
  background-color: #666;
  color: #fff;
}

tr {
  background-color: #fffbf0;
  color: #000;
}

tr:nth-child(odd) {
  background-color: #e4ebf2;
}

.blauer-button {
  color: black;
  background-color: #92b7fc;
  border-radius: .4em;
  margin-right: 1em;
}