.daten-satz {
    flex: 0 1 300px;
    margin: 12px;
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05),
        0 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    flex-wrap: wrap;
    min-width: 300px;
}

.kommentar {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.betreuer {
    color: blue;
    font-size: 12px;
    margin-bottom: 10px;
}

.email {
    color: gray;
    font-size: 12px;
    margin-bottom: 10px;
}

.list-satz {
    flex: 0 1 300px;
    margin: 16px;
    overflow: hidden;
    padding: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    flex-wrap: wrap;
    min-width: 300px;
}

.list-tabelle {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
    padding: 0px;
}

.breite-100 {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
}

.breite-300 {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}

.breite-500 {
    min-width: 500px;
    width: 500px;
    max-width: 500px;
}